.Container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
}

h1 {
  padding: 1rem 0;
  margin-bottom: 3rem;
}

.inputs {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
